
*{
    background-color: #ffebde;

    margin: 0;
    padding: 0;
}


//nav bar css

#a,#item-color{
    color:black; 
}

#li{
    padding-top: 10px;
    padding-bottom: 10px;

}

#a {
    
    border-left: 0.1px solid;
    
}



#second-sub-navbar{
border-left: 2px solid ;



}

#first-nav{
    border-bottom: 2px solid;
}

//nav bar css


h1 {
    text-align: center;
    width: 360px;
    margin: 0 auto;
  }

